<div class="modal fade" role="dialog" id="addClientModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-header">Add Client</h4>
            </div>
            <div class="modal-body">
                <form role="form" ng-submit="vm.addClient()">
                    <div class="form-group">
                        <label for="client__email">Email address</label>
                        <input type="email" class="form-control" id="client__email" ng-model="vm.name" placeholder="Enter email" required="">
                    </div>
                    <div class="form-group">
                        <label for="client__name">Name</label>
                        <input type="text" class="form-control" id="client__name" ng-model="vm.name" placeholder="Enter Name" required>
                    </div>
                    <div class="form-group">
                        <label for="client__phone">Phone</label>
                        <input type="text" class="form-control" id="client__phone" ng-model="vm.phone" placeholder="Enter Phone">
                    </div>
                    <div class="form-group">
                        <label for="client__address">Address</label>
                        <input type="text" class="form-control" id="client__phone" ng-model="vm.address" placeholder="Enter Address">
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger btn-auth">Cancel</button>
                        <button type="submit" class="btn btn-success btn-auth">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>