
<div class="modal fade" role="dialog" id="addDocumentModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-header">Add Document</h4>
            </div>
            <div class="modal-body">
                <form role="form" ng-submit="vm.addDocument()">
                    <div class="form-group">
                        <label for="document__file">Example Document File</label>
                        <input type="file" class="form-control" id="document__file" ng-model="vm.file">
                    </div>
                    <div class="form-group">
                        <label for="document__name">Document Name</label>
                        <input type="date" class="form-control" id="document__name" ng-model="vm.name" placeholder="Enter Start Date" required="">
                    </div>
                     <div class="form-group">
                        <label for="document__description">Document Description</label>
                       <textarea type="text" style="height:100px" class="form-control" id="document__description" ng-model="vm.description" placeholder="Enter Document Description" required=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="document_project">Project</label>
                        <select class="form-control" id="document_project" ng-model="vm.project" required="">
                            <option ng-repeat="project in vm.projectList">{{project.name}}</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger btn-auth">Cancel</button>
                        <button type="submit" class="btn btn-success btn-auth">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
