<div class="modal fade" role="dialog" id="addProjectModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"
                        aria-hidden="true">&times;</button>
                <h4 class="modal-header">Add Project</h4>
            </div>
            <hr>
            <div class="modal-body">
                <form role="form" ng-submit="vm.addProject()">
                    <div class="form-group">
                        <label for="project__name">Project Name</label>
                        <input type="email" class="form-control" id="project__name" ng-model="vm.name" placeholder="Enter Project Name" required="">
                    </div>
                    <div class="form-group">
                        <label for="project__description">Project Description</label>
                        <textarea type="text" style="height:100px" class="form-control" id="project__description" ng-model="vm.description" placeholder="Enter Project Description" required=""></textarea>
                    </div>
                    <div class="form-group">
                        <label for="project__startDate">Start Date</label>
                        <input type="date" class="form-control" id="project__startDate" ng-model="vm.startDate" placeholder="Enter Start Date" required="">
                    </div>
                    <div class="form-group">
                        <label for="project_client">Client</label>
                        <select class="form-control" id="project_client" ng-model="vm.client" required="">
                            <option ng-repeat="client in vm.clientList">{{client.name}}</option>
                        </select>
                    </div>
                    <div class="modal-footer">
                        <button type="button" data-dismiss="modal" class="btn btn-danger btn-auth">Cancel</button>
                        <button type="submit" class="btn btn-success btn-auth">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>