<!DOCTYPE html>
<html ng-app="adapt">
    <head>
        <title>Adapt | The Easy Way for Accountants and Clients to Share Documents</title>
        <base href="/"/>
        <meta name="description" content="Adapt is the easiest way for clients to share documents with their accountants.">
        <meta name="author" content="Adapt, LLC">
        <link rel='shortcut icon' type='image/png' href='static/images/logo.jpg' />
        <link rel="stylesheet" type="text/css" href="static/bower_components/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" type="text/css" href="static/bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.css" />
        <link rel="stylesheet" type="text/css" href="static/bower_components/bootstrap-material-design/dist/css/ripples.min.css" />
        <link rel="stylesheet" type="text/css" href="static/bower_components/roboto-fontface/css/roboto-fontface.css" />

        <link rel="stylesheet" type="text/css" href="static/lib/snackbarjs/snackbar.min.css" />

        <link rel="stylesheet" type="text/css" ng-href="static/css/cover.css" />
        <link rel="stylesheet" type="text/css" href="static/css/style.css" />

        <!-- <link rel="stylesheet" type="text/css" ng-href="static/css/{{coverStyle}}" />
        <link rel="stylesheet" type="text/css" href="static/css/{{style}}" /> -->
    </head>
    <body>
        <nav class="navbar navbar-default" role="navigation" ng-controller="NavbarController as vm">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Adapt</a>
                </div>
                <!-- ./navbar-header -->

                <div class="collapse navbar-collapse" id="main-nav">
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>
                    </ul>
                </div>
                <!-- /.collapse.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 ng-view"></div>
            </div>
        </div>

        <!---------------------------------------------- LOAD DEPENDENCIES ---------------------------------------------->
        <script src="static/bower_components/jquery/dist/jquery.js"></script>
        <script src="static/bower_components/bootstrap/dist/js/bootstrap.js"></script>
        <script src="static/bower_components/bootstrap-material-design/dist/js/material.js"></script>
        <script src="static/bower_components/bootstrap-material-design/dist/js/ripples.js"></script>
        <script src="static/bower_components/underscore/underscore.js"></script>
        <script src="static/bower_components/d3/d3.js"></script>

        <script src="static/bower_components/angular/angular.js"></script>
        <script src="static/bower_components/angular-route/angular-route.js"></script>
        <script src="static/bower_components/angular-cookies/angular-cookies.js"></script>
        <script src="static/bower_components/angular-modal-service/dst/angular-modal-service.js"></script>
        <script src="static/bower_components/file-saver/FileSaver.js"></script>

        <script src="static/lib/snackbarjs/snackbar.min.js"></script>


        <!---------------------------------------------- LOAD MAIN APP ---------------------------------------------->
        <script src="static/js/adapt.js"></script>
        <script src="static/js/adapt.config.js"></script>
        <script src="static/js/adapt.routes.js"></script>

        <!---------------------------------------------- LOAD MODULES ---------------------------------------------->
        <script src="static/js/authentication/authentication.module.js"></script>
        <script src="static/js/accountants/accountants.module.js"></script>
        <script src="static/js/layout/layout.module.js"></script>
        <script src="static/js/utils/utils.module.js"></script>



        <!---------------------------------------------- LOAD CONTROLLERS ---------------------------------------------->
        <script src="static/js/authentication/controllers/register.controller.js"></script>
        <script src="static/js/layout/controllers/navbar.controller.js"></script>
        <script src="static/js/authentication/controllers/login.controller.js"></script>
        <script src="static/js/accountants/controllers/clients.controller.js"></script>


        <!---------------------------------------------- LOAD DIRECTIVES ---------------------------------------------->


        <!---------------------------------------------- LOAD SERVICES ---------------------------------------------->
        <script src="static/js/authentication/services/authentication.service.js"></script>
        <script src="static/js/utils/services/snackbar.service.js"></script>
        <script src="static/js/accountants/services/clients.services.js"></script>


    </body>

    <div class="container footer">
        <div class="col-md-3 footer-content">
            <a href="#">Privacy Policy</a>
        </div>
        <div class="col-md-3 col-md-offset-6 footer-content">
            <a href="#">Copyright &copy; 2016 Adapt, LLC</a>
        </div>
    </div>
    
</html>