

 body {
    overflow-x: visible;
 }


#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    left: 250px;
    width: 0;
    height: 100%;

    /*  margin-left: -250px;*/
    left:0;

    overflow-y: auto;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    /*width: 250px;
    left:-250px;*/
    width:0;
}

#page-content-wrapper {
    width: 100%;
    position: fixed;
    padding: 15px;
    overflow: hidden;
    overflow-wrap: break-word;
}

#wrapper.toggled #page-content-wrapper {
    position: relative;
    /*  margin-left: -250px;*/
    left:-250px;
}

.sidebar-nav {
    position: absolute;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
        left:0;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
        left:-250px;
    }

    #page-content-wrapper {
        position: static;
    }

    #wrapper.toggled #page-content-wrapper {
        position: static;
        margin-right: 0;
    }
}