<div class="container" ng-init="$parent.islogin = false">
	<div class="col-md-12">
		<a type="button" href="/client/projects" class="btn btn-default btn-rounded">Back</a>
         <span id="menu-toggle-btn"><a tyep="button" class="btn btn-default btn-rounded" id="menu-toggle-tooltip-btn">Close Sidebar</a></span>
		<hr>
	</div>
    <div class="col-md-4" ng-repeat="document in vm.documentList">
        <h3 class="documentListName">{{document.name}}</h3>
        <p class="documentListDescription">{{document.description}}</p>
        <button class="btn btn-primary" ng-click="vm.viewDocument(document.id)">View</button>
    </div>
    <div class="col-md-12">
        <hr>
        <a type="button" href="/client/projects" class="btn btn-default btn-rounded">Back</a>
    </div>
</div>
<script type="text/javascript">
    if ($("#wrapper").hasClass("toggled")) {
            $('#menu-toggle-tooltip-btn').text('Open Sidebar');
        }else{
            $('#menu-toggle-tooltip-btn').text('Close Sidebar');
        }
    $("#menu-toggle-btn").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if ($("#wrapper").hasClass("toggled")) {
            $('#menu-toggle-tooltip-btn').text('Open Sidebar');
        }else{
            $('#menu-toggle-tooltip-btn').text('Close Sidebar');
        }
        console.log('menu-toggle-btn triggered');
    });
</script>