<div class="container" ng-init="$parent.islogin = false">
	<div class="col-md-12">
         <span id="menu-toggle-btn"><a tyep="button" class="btn btn-default btn-rounded" id="menu-toggle-tooltip-btn">Close Sidebar</a></span>
		<hr>
	</div>
    <div class="col-md-4" ng-repeat="project in vm.projectList">
        <h3 class="projectListName">{{project.name}}</h3>
        <p class="projectListDescription">{{project.description}}</p>
        <a class="btn btn-primary" href="/client/projects/documents">View</a>
    </div>
</div>
<script type="text/javascript">
	if ($("#wrapper").hasClass("toggled")) {
            $('#menu-toggle-tooltip-btn').text('Open Sidebar');
        }else{
            $('#menu-toggle-tooltip-btn').text('Close Sidebar');
        }
    $("#menu-toggle-btn").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if ($("#wrapper").hasClass("toggled")) {
            $('#menu-toggle-tooltip-btn').text('Open Sidebar');
        }else{
            $('#menu-toggle-tooltip-btn').text('Close Sidebar');
        }
        console.log('menu-toggle-btn triggered');
    });
</script>