 
<div id="body-container">
<div class="page-title clearfix">
<div class="pull-left">
<h1> Compose </h1>
<small class="subtitle">Bootstrap UI Components
</small>
</div>
<ol class="breadcrumb pull-right">
<li class="active"> Compose </li>
<li><a href="/home"><i class="fa fa-tachometer"></i></a></li>
</ol>
</div>
 
<div class="conter-wrapper">
<div class="inbox-container-wrap">
<div class="inbox-container">
<div class="col email-options ps-container" perfect-scrollbar="" wheel-propagation="true" suppress-scroll-x="true">
<div class="padding-15">
<div class="butt-container">
<a href=""><button class="btn btn-primary btn-block btn-rounded">
Compose
</button></a>
</div>
<ul class="main-options">
<li class="activeli">
<a href="">
<span class="title"> &nbsp; Inbox</span>
<span class="badge pull-right">10</span>
</a>
</li>
<li>
<a href="">
<span class="title"> &nbsp; Junk Mail</span>
</a>
</li>
<li>
<a href="">
<span class="title"> &nbsp; Drafts</span>
<span class="badge pull-right">16</span>
</a>
</li>
<li>
<a href="#">
<span class="title"> &nbsp; Sent</span>
</a>
</li>
<li>
<a href="">
<span class="title"> &nbsp; Trash</span>
</a>
</li>
<hr class="poor"/>
<h5>LABELS</h5>
<li>
<a href="h">
<span class="title"> &nbsp; Clients <i class="fa fa-stop pull-right faorange"></i></span>
</a>
</li>
<li>
<a href="">
<span class="title"> &nbsp; Social <i class="fa fa-stop pull-right fayellow"></i></span>
</a>
</li>
<li>
<a href="">
<span class="title"> &nbsp; Family <i class="fa fa-stop pull-right facyan"></i></span>
</a>
</li>
<li>
<a href="">
<span class="title"> &nbsp; Friends <i class="fa fa-stop pull-right fapurple"></i></span>
</a>
</li>
</ul>
</div>
</div>
</div>
<div class="compose-container">
<div class="wrap-compose">
<div class="mail-header">
<h4>New Email</h4>
</div>
<div class="receipient">
<strong class="to">TO </strong> <span class="label label-primary"><a class="__cf_email__" href="" data-cfemail="1872777076587c777d367b7775" style="color:white">[email&#160;protected]</a><script cf-hash='f9e31'  >
/* <![CDATA[ */!function(){try{var t="currentScript"in document?document.currentScript:function(){for(var t=document.getElementsByTagName("script"),e=t.length;e--;)if(t[e].getAttribute("cf-hash"))return t[e]}();if(t&&t.previousSibling){var e,r,n,i,c=t.previousSibling,a=c.getAttribute("data-cfemail");if(a){for(e="",r=parseInt(a.substr(0,2),16),n=2;a.length-n;n+=2)i=parseInt(a.substr(n,2),16)^r,e+=String.fromCharCode(i);e=document.createTextNode(e),c.parentNode.replaceChild(e,c)}}}catch(u){}}();/* ]]> */</script></span>
</div>
<div class="subject">
<strong class="strong-header">SUBJECT</strong> <strong class="subjetc">[LOGO] Envelope</strong>
</div>
<form class="editor">
<textarea name="ckeditor" class="ckeditor" rows="10" cols="80" style="box-sizing:border-box; width: 100%" >
Edit here.
</textarea>
</form>
<div class="send-footer">
<button type="button" class="btn btn-primary btn-rounded    ">Send</button>
&nbsp;&nbsp;&nbsp;<a href="#"><i class="fa fa-paperclip"></i></a>
<a href="#"><i class="fa fa-trash-o pull-right"></i></a>
</div>
</div>
</div>
</div>
</div>
</div>
