<div class="back">
<div class="errors col-sm-8 col-sm-offset-2">
</div>
<div class="login-outer">
<div class="login-wrap">
<div class="login-left striped-bg text-center">
<a href="/home" class="logo-lg">
<i class="fa fa-paper-plane"></i> Adapt Theme
</a>
<div class="slogan">Theme</div>
</div>
<div class="login-right striped-bg">
<div class="login-right fright striped-bg">
<h1 align="center">404</h1>
<p class="oops"> Page not found. </p>
<div class="frightFooter">
<a href="/home">Go to home page.</a>
</div>
</div>
</div>
</div>
</div>
</div>
