
<div id="body-container">
<div class="page-title clearfix">
<div class="pull-left">
<h1> Calendar </h1>
<small class="subtitle"> Bootstrap UI Components </small>
</div>
<ol class="breadcrumb pull-right">
<li class="active"> Calendar </li>
<li><a 
href="/home"><i class="fa fa-tachometer"></i></a></li>
</ol>
</div>
 
<div class="conter-wrapper">
<div class="panel panel-default">
<div class="panel-heading">
<h3 class="panel-title">Full Calendar
<div class="panel-control pull-right hidden">
<a class="panelButton"><i class="fa fa-refresh"></i></a>
<a class="panelButton"><i class="fa fa-minus"></i></a>
<a class="panelButton"><i class="fa fa-remove"></i></a>
</div>
</h3>
</div>
<div class="panel-body">
<div id="calendar1"></div>
</div>
</div>
</div>
</div>
</div>
<script>

	// page is now ready, initialize the calendar...

	$('#calendar1').fullCalendar({
	 eventClick: function(calEvent, jsEvent, view) {

	    alert('Event: ' + calEvent.title);
	    alert('Coordinates: ' + jsEvent.pageX + ',' + jsEvent.pageY);
	    alert('View: ' + view.name);
	}
	});
</script>
