
<div class="page-title clearfix" ng-init="$parent.islogin = false">
	<div class="pull-left">
		<h1>Home</h1>
		<small class="subtitle"> Welcome Home
		</small>
	</div>
	<ol class="breadcrumb pull-right">
		<li class="active">Home</li>
		<li><a href="/home"><i class="fa fa-tachometer"></i></a></li>
	</ol>
</div>
 
<div class="conter-wrapper">
	<!-- add content here -->
	
</div>

<div id="footer-wrap" class="footer">
	Copyright © 2016 Adapt
	<span class="pull-right">
	<a href="javascript:;"><i class="fa fa-facebook-square"></i></a>
	<a href="javascript:;">&nbsp;<i class="fa fa-twitter-square"></i></a>
	</span>
</div>

