<script src="static/js/script.js"></script>
<div class="back" ng-init="$parent.islogin = true">
<div class="errors col-sm-8 col-sm-offset-2">
</div>
<div class="login-outer">
<div class="login-wrap">
<div class="login-left striped-bg text-center">
<a href="/" class="logo-lg">
<i class="fa fa-cloud" aria-hidden="true"></i> Adapt
</a>
<div class="slogan">Document Management</div>
</div>
<div class="login-right striped-bg">
<div class="heading">Login to your Account</div>
<div class="input">
<!-- <form class="form-horizontal" role="form" ng-submit="vm.login()"> -->
<form class="form-horizontal" role="form" ng-submit="">
<input type="hidden" name="" value="">
<div class="login-input-group">
<span class="login-input-group-addon"><i class="fa fa-at fa-fw"></i></span>
<input type="email" class="form-control" name="email" placeholder="email" value="">
</div>
<div class="login-input-group">
<span class="login-input-group-addon"><i class="fa fa-key fa-fw"></i></span>
<input type="password" class="form-control" placeholder="password" name="password">
</div>
<!-- <button type="submit" class="btn btn-default btn-lg submit">Login</button> -->
<a type="" class="btn btn-default btn-lg submit" href="/home">Login</a>
</form>
<div class="login-other text-right">Or Login with
<a href="javascript:;" class="m-l-sm"><i class="fa fa-facebook"></i></a>
<a href="javascript:;" class="m-l-sm"><i class="fa fa-twitter"></i></a>
<a href="javascript:;" class="m-l-sm"><i class="fa fa-google-plus gplus"></i></a>
</div>
</div>
<div class="rightFooter">
<a href="/register">Don't have an Account?</a>
<a href="javascript:;" class="m-l">Forgot Password?</a>
<!-- </div> -->
<!-- </div> -->
</div>
</div>
</div>

<script>
	$('body').css('background-image',"url('static/img/login-bg.jpg')");
</script>