<script src="static/js/script.js"></script>
<div class="back" ng-controller="RegisterController" ng-init="$parent.islogin = true">
<div class="errors col-sm-8 col-sm-offset-2">
</div>
<div class="login-outer">
<div class="login-wrap">
<div class="login-left striped-bg text-center">
<a href="/home" class="logo-lg">
<i class="fa fa-cloud" aria-hidden="true"></i> Adapt
</a>
<div class="slogan">Document Management</div>
</div>
<div class="login-right striped-bg">
<div class="heading">Create your Account</div>
<div class="input">
<!-- <form class="form-horizontal" role="form" action="vm.register()"> -->
<form class="form-horizontal" role="form" action="">
<input type="hidden" name="" value="">
<div class="login-input-group">
<span class="login-input-group-addon" id="basic-addon3"><i class="fa fa-user fa-fw"></i></span>
<input type="text" class="here form-control" placeholder="name" aria-describedby="basic-addon2" name="name" value="">
</div>
<div class="login-input-group">
<span class="login-input-group-addon" id="basic-addon1"><i class="fa fa-at fa-fw"></i></span>
<input type="email" class="here form-control" placeholder="email" aria-describedby="basic-addon1" name="email" value="">
</div>
<div class="login-input-group">
<span class="login-input-group-addon" id="basic-addon2"><i class="fa fa-key fa-fw"></i></span>
<input type="password" class="here form-control" placeholder="password" aria-describedby="basic-addon2" name="password">
</div>
<div class="login-input-group">
<span class="login-input-group-addon" id="basic-addon2"><i class="fa fa-key fa-fw"></i></span>
<input type="password" class="here form-control" placeholder="confirm password" aria-describedby="basic-addon2" name="password_confirmation">
</div>
<!-- <a type="" class="btn btn-default btn-lg submit" href="">Signup</a> -->
<a type="" class="btn btn-default btn-lg submit" href="/home">Signup</a>
</form>
</div>
<div class="rightFooter">
<a href="/login">Already have an Account?</a>
</div>
</div>
</div>

<script>
	$('body').css('background-image',"url('static/img/login-bg.jpg')");
</script>
