<div class="container" ng-init="$parent.islogin = false">
	<div class="col-md-12">
        <span id="menu-toggle-btn"><a tyep="button" class="btn btn-default btn-rounded" id="menu-toggle-tooltip-btn">Close Sidebar</a></span>
	   <hr>
    </div>
    <div class="col-md-4 clientListElement" ng-repeat="client in vm.clientList">
        <img src="/static/img/person-placeholder.png" width="200" height="200">
        <h3 class="clientListName">{{client.name}}</h3>
        <a href="/accountant/clients/projects"><button class="btn btn-primary">View</button></a>
    </div>
    <div class="col-md-4 clientListElement">
        <a href ng-click="vm.addClient()"><i class="fa fa-plus-circle" style="color: #0276FD; font-size: 100px;" aria-hidden="true"></i></a>
    </div>
</div>
<script type="text/javascript">
	if ($("#wrapper").hasClass("toggled")) {
            $('#menu-toggle-tooltip-btn').text('Open Sidebar');
        }else{
            $('#menu-toggle-tooltip-btn').text('Close Sidebar');
        }
    $("#menu-toggle-btn").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if ($("#wrapper").hasClass("toggled")) {
            $('#menu-toggle-tooltip-btn').text('Open Sidebar');
        }else{
            $('#menu-toggle-tooltip-btn').text('Close Sidebar');
        }
        console.log('menu-toggle-btn triggered');
    });
</script>