<div class="container" ng-init="$parent.islogin = false">
	<div class="col-md-12">
		<a type="button" href="/accountant/clients/projects" class="btn btn-default btn-rounded">Back</a>
        <span id="menu-toggle-btn"><a tyep="button" class="btn btn-default btn-rounded" id="menu-toggle-tooltip-btn">Close Sidebar</a></span>
        <hr>
	</div>
    <div class="col-md-4 documentListElement" ng-repeat="document in vm.documentList">
        <img src="document.image" width="200" height="200">
        <h3 class="documentListName">{{document.name}}</h3>
        <p class="documentListDescription">{{document.description}}</p>
        <button class="btn btn-primary">Download</button>
    </div>
    <div class="col-md-4 documentListElement">
        <a href ng-click="vm.addDocument()" data-toggle="modal" data-target="#addDocumentModal"><i class="fa fa-plus-circle" style="color: #0276FD; font-size: 100px;" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-12">
        <hr>
        <a type="button" href="/accountant/clients/projects" class="btn btn-default btn-rounded">Back</a>
    </div>
</div>

<script type="text/javascript">
    if ($("#wrapper").hasClass("toggled")) {
            $('#menu-toggle-tooltip-btn').text('Open Sidebar');
        }else{
            $('#menu-toggle-tooltip-btn').text('Close Sidebar');
        }
    $("#menu-toggle-btn").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if ($("#wrapper").hasClass("toggled")) {
            $('#menu-toggle-tooltip-btn').text('Open Sidebar');
        }else{
            $('#menu-toggle-tooltip-btn').text('Close Sidebar');
        }
        console.log('menu-toggle-btn triggered');
    });
</script>