<div class="container" ng-init="$parent.islogin = false">
	<div class="col-md-12">
		<a type="button" href="/accountant/clients/" class="btn btn-default btn-rounded">Back</a>
        <span id="menu-toggle-btn"><a tyep="button" class="btn btn-default btn-rounded" id="menu-toggle-tooltip-btn">Close Sidebar</a></span>
	   <hr>
    </div>
    <div class="col-md-4 projectListElement" ng-repeat="project in vm.projectList">
        <h2 class="projectListName">{{project.name}}</h2>
        <p class="projectListDescription">{{project.description}}</p>
        <a href="/accountant/clients/projects/documents"><button class="btn btn-primary">View</button></a>
    </div>
    <div class="col-md-4 projectListElement">
        <a href ng-click="vm.addProject()" data-toggle="modal" data-target="#addProjectModal"><i class="fa fa-plus-circle" style="color: #0276FD; font-size: 100px;" aria-hidden="true"></i></a>
    </div>
    <div class="col-md-12">
        <hr>
        <a type="button" href="/accountant/clients/" class="btn btn-default btn-rounded">Back</a>
    </div>
</div>
<script type="text/javascript">
    if ($("#wrapper").hasClass("toggled")) {
            $('#menu-toggle-tooltip-btn').text('Open Sidebar');
        }else{
            $('#menu-toggle-tooltip-btn').text('Close Sidebar');
        }
    $("#menu-toggle-btn").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
        if ($("#wrapper").hasClass("toggled")) {
            $('#menu-toggle-tooltip-btn').text('Open Sidebar');
        }else{
            $('#menu-toggle-tooltip-btn').text('Close Sidebar');
        }
        console.log('menu-toggle-btn triggered');
    });
</script>